body {
  background-color: #4EC0CA; }
  body p {
    font-size: 1.6em; }
  body .background {
    max-width: 50%;
    margin: 0 auto;
    z-index: -100;
    left: 25%; }
    body .background img {
      max-width: 100%; }
  body .wrapper {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid black; }
    body .wrapper ul {
      list-style: none; }
      body .wrapper ul li {
        display: inline-block;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
        border-radius: 100%;
        border: 3px solid black; }
        body .wrapper ul li img {
          border-radius: 100%; }
    body .wrapper .playGame {
      font-size: 3em;
      color: limegreen;
      padding: 10px;
      border-radius: 10px;
      background-color: dimgrey;
      margin-left: 41.8%; }
