//@import "normalize-scss/sass/normalize";
//@import "bourbon/bourbon";
//@import "neat/neat";
body {
    background-color: #4EC0CA;
    p {
        font-size: 1.6em;
    }

    .background {
        max-width: 50%;
        margin: 0 auto;
        z-index: -100;
        left: 25%;
        img {
            max-width: 100%;
        }
    }

    .wrapper {
        background-color: aliceblue;
        border-radius: 20px;
        padding: 20px;
        border: 3px solid black;
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin-left: 10%;
                margin-top: 10%;
                margin-bottom: 10%;
                border-radius: 100%;
                border: 3px solid black;
                img {
                    border-radius: 100%;
                }
            }
        }
        .playGame {
            font-size: 3em;
            color: limegreen;
            padding: 10px;
            border-radius: 10px;
            background-color: dimgrey;
            margin-left: 41.8%;
        }
    }
}
